.post-thumb {
	text-align: center;
	padding-top: 20px;
}

.post-img {
	max-width: 90%;
	max-height: 450px;
	border: none;
}

.post {
	border: 1px solid #f6da14;;
}

.post-header {
	text-align: center;
}

.date {
	text-align: right;
	margin: 0 10px;
}

.entry-content {
	margin: 0 10px;
}

button {
	background-color: #f6da14;
	color: #000;
	border: 2px solid #f6da14;
	border-radius: 3px;
}

button:hover {
	border: 2px solid #000;
}


.pagination > li > a,
.pagination > li > span {
  color: #f6da14;
  background-color: #000;
  border: 1px solid #f6da14;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #000;
  background-color: #f6da14;
  border-color: #f6da14;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	color: #000;
  	cursor: default;
  	background-color: #f6da14;
    border-color: #f6da14;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: #000;
  border-color: #f6da14;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/*DETAIL*/
.detail-post-img {
	max-width: 90%;
	max-height: 700px;
}

.detail-header {
	background-color: rgba(14, 14, 19, 0.85);
	padding: 15px;
}




