{% extends 'main/base.html' %}

{% block title %}Actors{% endblock title %}


{% block content %}

	<section class="actors_container">
		<div class="actors">
			<div class="actors__header">Actors</div>
			{% for artist in artists %}
				<div class="actors__item">
				<img src="{{ artist.serial_image.url }}" alt="">
					<div class="actors__text">
						<div>{{ artist.name }}</div>
						<p class="">{{ artist.about }}</p>
					</div>
						<img src="{{ artist.life_image.url }}" alt="">
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock content %}
