{% extends 'main/base.html' %}



{% block title %}Season {{ season.id }}{% endblock title %}
{% block header %}<h1>Season {{ season.id }}</h1>{% endblock header %}

{% block content %}
<div class="artist-block col-md-12">
	<h3>Oops, there is nothing here yet.</h3>
	<h3>We are working to provide interesting information.</h3>
	<img class="img-thumbnail" src="http://3.bp.blogspot.com/-xjRjR0QDGIE/VYygWqGa9RI/AAAAAAAAWqQ/wmaHIJzFi3o/s1600/Brooklyn99Insider-Gina-Worst%2BThings%2BHappen%2Bto%2BBest%2BPeople.gif">
</div>
{% endblock content %}