{% extends 'main/base.html' %}

{% block title %}Seasons{% endblock title %}
{% block header %}<h1>Seasons</h1>{% endblock header %}

{% block content %}

	<section class="videos_container">
		<div class="videos">
			<div class="videos__header">Seasons</div>
			<div class="v_block">
				{% for season in seasons %}
					<div class="v_block__item">
						<a href="{{ season.id }}">
							<img class="v_block__img" src="{{ season.image.url }}" alt="">
						</a>
						<div class="v_block__title">{{ season.title }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock content %}
