{% extends 'main/base.html' %}
{% load static %}

{% block title %}Season {{ season.id }}{% endblock title %}

{% block header %}<h1>Season {{ season.id }}</h1>{% endblock header %}

{% block content %}
	<section class="videos_container">
		<div class="videos">
			<div class="videos__header">Season {{ season.id }}</div>
			<div class="v_block">
				<p>Oops, there is nothing here yet.</p>
				<p>We are working to provide some interesting information.</p>
				<img class="v_block__sorry" src="{% static 'img/oops.gif' %}" alt="">
			</div>
		</div>
	</section>

{% endblock content %}
