{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Handlee|Permanent+Marker" rel="stylesheet">
        <title>
            Brooklyn 9-9 - {% block title %}{% endblock title %}
        </title>


        <link rel="stylesheet" type="text/css" href="{% static 'css/photos/jquery.fancybox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    </head>

    <body>
      <div class="wrapper">

        <header class="header">
          <a class="header__logo" href="{% url 'main:index' %}">
            Brooklyn <nobr>9-9</nobr>
          </a>
          <nav class="nav">
            <div class="nav__item">
              <a href="{% url 'main:news' %}" class="nav__link">News</a>
            </div>
            <div class="nav__item">
              <a href="{% url 'content:artists' %}" class="nav__link">Actors</a>
            </div>
            <div class="nav__item">
              <a href="{% url 'content:photos' %}" class="nav__link">Photos</a>
            </div>
            <div class="nav__item">
              <a href="{% url 'content:about' %}" class="nav__link">About</a>
            </div>
          </nav>
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="{% url 'content:seasons' %}" class="header__btn">Watch</a>
        </header>

        {% block content %} {% endblock content%}

        <footer class="footer">
          <span>
            Powered by <a href="https://www.linkedin.com/in/yurii-roik-84724213a/">Roik Yurii</a>
          </span>
        </footer>

      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{% static 'js/photos/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>
