{% extends "main/base.html" %}

{% block title %}News{% endblock title %}


{% block content %}

<section class="news_container">
  <div class="news">
      <div class="news__item">
        <div class="news__title">{{ new.title }}</div>
        <img class="news__img" src="{{ new.image.url }}" alt="">
        <div class="news__date">{{ new.data_added }}</div>
        <p class="news__text">{{ new.text}}</p>
        <a href="{% url 'main:news' %}">
          <button class="news__btn news__btn_item" type="button" name="button">Back to news</button>
        </a>
      </div>

{% endblock content %}
